<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.team1.maintocomposer"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" 
    	android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name=".Main"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ComposerActivity"
                  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="MediaPropertiesActivity"
                  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
		<activity android:name="HelloActivity"
                  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>
	<uses-permission android:name="android.permission.SEND_SMS" />

</manifest> 